@media only screen and (max-width : 1024px) {
	.col-side {
		display: none;
	}
	.col-main {
		margin-left: 0;
		margin-right: 0;
	}

	.hero_unit > h1 {
		font-size: 32px;
		font-weight: normal;
	}
	.hero_unit > h2 {
		font-size: 20px;
		font-weight: normal;
	}

	.blogpanel {
		flex-basis: 90%;
		margin-bottom: 24px;
	}

	.projectpanel {
		flex-basis: 90%;
	}

	.projectpanel_head-title a {
		font-size: 20px;
	}

	.projectpanel_section-title {
		font-size: 18px;
	}

	.projectpanel_section-thumbnail > img {
		width: 50%;
	}

	.projectpanel_body_content p {
		font-size: 18px;
	}

	.navbar * {
		font-size: 14px;
	}

	.blogpanel_head {
		flex-direction: column;
	}
}