* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-family: 'Helvetica', sans-serif;
}
body {
	width: auto;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	margin: 0px;
}
img {
	width: 100%;
	height: auto;
}
h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 14px;	
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
pre {
	white-space: pre-wrap;    
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;    
    white-space: -o-pre-wrap;  
    word-wrap: break-word;

    overflow: auto !important;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #333333;
	background-color: #fff;
	border: 1px solid #de9696;
	border-left-width: 11px;
}
/*
	blogpanel: 
		base element for standard, grey node
		max-width and min-width set
		positioned in order to set 'foot'
		margin 'auto' centers the elements
		margin 'bottom' to add space between
*/
.blogpanel {
	background-color: #F3F3F3;
	box-shadow: 3px 3px 4px #888;
	//max-width: 800px;
	margin: auto;
	margin-bottom: 35px;
	position: relative;
}
/*
	blogpanel_head:
		goes on the top of every 'blogpanel' element
		is a flexbox parent element, 
		display set accordingly; positioned
		children are 'blogpanel_head-date' and 'head-title'
		min-height required to allow growth ('head-title')
*/
.blogpanel_head {
	background-color: tan; 
	display: -webkit-flex;
	display: flex;
	min-height: 48px;
	width: 100%;
}
/*
	blogpanel_head-date:
		first child to 'blogpanel_head' and is also 
		a flexbox parent element, so that
		'head-date' children are centered
		both vertically and horizontally
		takes up 1/5 flexbox units
*/
.blogpanel_head-date {
	background-color: #FF5050;
	color: white;
	display: -webkit-flex;
	display: flex;
	height: auto;
	
	text-align: center;
	/*flex*/
	-webkit-flex: 1;
	flex: 1;
	-webkit-align-items: center;
    align-items: center;
	-webkit-justify-content: center;
    justify-content: center;
}
/*
	blogpanel_head-title:
		second child to 'blogpanel_head' and is not
		a flexbox parent; height set to auto
		in order to grow with the content
		(see above 'blogpanel_head')
		takes up 4/5 flexbox units
*/
.blogpanel_head-title {
	background-color: #D9D9D9;
	display: flex;
	height: auto;

	padding-left: 12px;
	/*flex*/
	-webkit-flex: 4;
	flex: 4;
	-webkit-align-items: center;
    align-items: center;
}
.blogpanel_head-title a {
	color: black;
	text-decoration: none;
}
.blogpanel_head-title a:hover {
	text-decoration: underline;
}
.blogpanel_body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding-top: 12px;
	padding-bottom: 48px;
	padding-left: 12px;
	padding-right: 12px;
}
.blogpanel_body-more {
	color: red;
}
/*
	blogpanel_foot:
		will contain the tags for the post
		is set to ABSOLUTE in order to
		cling to bottom of 'blogpanel' node,
		with the appropriate padding set
		in 'blogpanel_body' above
*/
.blogpanel_foot {
	bottom: 0px;
	display: -webkit-flex;
	display: flex;
	position: absolute;
	width: 100%;
	min-height: 48px;
}
.blogpanel_foot-tag-name {
	display: -webkit-flex;
	display: flex;
	height: auto;

	padding-left: 12px;
	/*flex*/
	-webkit-flex: 1;
	flex: 1;
	-webkit-align-items: center;
    align-items: center;
}
.blogpanel_foot-tag-name > * {
	margin: 0;
}
/*
	blogpanel_foot-tag-list:
		is a div that contains a ul list
		of all tags, NOT the ul itself!
*/
.blogpanel_foot-tag-list {
	display: -webkit-flex;
	display: flex;
	height: auto;

	text-align: center;
	/*flex*/
	-webkit-flex: 11;
	flex: 11;
	-webkit-align-items: center;
    align-items: center;
}
.blogpanel_foot-tag-list ul {
	list-style: none;
	margin: 0;
	padding-left: 0px;
}
.blogpanel_foot-tag-list ul > li {
	display: inline-block;
}
.blogpanel_foot-tag-list ul > li > a {
	color: white;
	background-color: #999;
	border-radius: 8px;
	display: inline-block;
	font-size: 16px;
	margin: 3px;
	padding-left: 6px;
	padding-right: 6px;
	text-decoration: none;
}
.blogpanel_foot-tag-list ul > li > a:hover {
	background-color: #777;
}
/*
	blogpanel_foot-post-list:
		a list of recent posts
		on the sidebar, under tags
*/
.blogpanel_foot-post-list {
	display: -webkit-flex;
	display: flex;
	height: auto;
	/*flex*/
	-webkit-flex: 11;
	flex: 11;
}
.blogpanel_foot-post-list ol {
	margin: 0;
	padding-left: 0px;
}
.blogpanel_foot-post-list ol > li {
	display: block;
}
.blogpanel_foot-post-list ol > li > a {
	color: #000;
	border-radius: 8px;
	display: inline-block;
	font-size: 12px;
	margin: 12px;
}
.blogpanel_foot-post-list ol > li > a:hover {
	color: red;
}
/*
	columns
*/
.col-main {
	margin-left: 8vw;
	margin-right: 8vw;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 35px;
	/*flex*/
	-webkit-flex: 4;
	flex: 4;
}
.col-main_pages {
	max-width: 600px;
	margin: auto;
	text-align: center;
}
.col-side {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	min-height: 100vh;
	background-color: #FFDDDD;
	/*flex*/
	-webkit-flex: 1;
	flex: 1;
}
.navbar {
	flex: 1 100%;
}
/*
	pagination:
		provided by Hugo's base pagination
		refer to documentation for further info
		.pagination is a ul, so style it directly
*/
.pagination {
	list-style: none;
	padding-left: 0px;
}
.pagination > li {
	display: inline-block;
}
.pagination > li > a {
	color: white;
	background-color: #ff5050;
	border-radius: 8px;
	display: inline-block;
	font-size: 12;
	margin-left: 3px;
	margin-right: 3px;
	padding-left: 6px;
	padding-right: 6px;
	text-decoration: none;
}
.pagination > li > a:hover {
	background-color: #ff2020;
}
.pagination > .disabled > a {
	background-color: #333;
	pointer-events: none;
   	cursor: default;
}
/*
	disabled:
		another class provided by Hugo
		style buttons that are not available
*/
.pagination > .disabled > a:hover {
	background-color: #333;
}
/*
	navbar:
		custom navbar, .navbar is a ul,
		so style it directly
*/
.navbar {
	background-color: #ff5050;
	display: flex;
	list-style: none;
	margin: 0px;
	height: 60px;
	/*flex*/
	-webkit-align-items: center;
    align-items: center;
}
.navbar > li {
	display: flex;
	-webkit-flex: 1;
	flex: 1;
}
.navbar > .navbar_brand > a {
	color: white;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
}
