* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-family: 'Helvetica', sans-serif;
}
body {
	width: auto;
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	margin: 0px;
}
.col-main .blogpanel {
	transition: all 0.3s ease;
}
img {
	width: auto;
	max-width: 75%;
	height: auto;
}
h1 {
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: normal;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
pre {
	white-space: pre-wrap;    
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;    
    white-space: -o-pre-wrap;  
    word-wrap: break-word;

    overflow: auto !important;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #333333;
	background-color: #fff;
	border: 1px solid #de9696;
	border-left-width: 11px;
}
/*
	columns
*/
.col-main {
	/* margin-left: 12vw;
	margin-right: 12vw; */
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 35px;
	/*flex*/
	-webkit-flex: 4;
	flex: 4;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.col-main_pages {
	flex-basis: 100%;
	margin: auto;
	text-align: center;
}
.col-side {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	min-height: 100vh;
	background-color: #FFDDDD;
	/*flex*/
	-webkit-flex: 1;
	flex: 1;
}
/*
	pagination:
		provided by Hugo's base pagination
		refer to documentation for further info
		.pagination is a ul, so style it directly
*/
.pagination {
	list-style: none;
	padding-left: 0px;
}
.pagination > li {
	display: inline-block;
}
.pagination > li > a {
	color: white;
	background-color: #ff5050;
	border-radius: 8px;
	display: inline-block;
	font-size: 12;
	margin-left: 3px;
	margin-right: 3px;
	padding: 10px;
	text-decoration: none;
}
.pagination > li > a:hover {
	background-color: #ff2020;
}
.pagination > .disabled > a {
	background-color: #333;
	pointer-events: none;
   	cursor: default;
}
/*
	disabled:
		another class provided by Hugo
		style buttons that are not available
*/
.pagination > .disabled > a:hover {
	background-color: #333;
}
/*
	navbar:
		custom navbar, .navbar is a ul,
		so style it directly
*/
.navbar {
	background-color: #ff5050;
	display: -webkit-flex;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 12px;
	height: 60px;
	width: 100%;
	/*flex*/
	-webkit-align-items: center;
    align-items: center;
}
.navbar > li {
	display: -webkit-flex;
	display: flex;
	-webkit-flex: 1;
	flex: 1;
}

.navbar-left {
	flex: 8;
	text-align: left;
}
.navbar-right {
	flex: 2;
	text-align: right;
	display: -webkit-flex;
	display: flex;
}
.navbar-right > li {
	flex: 1;
	margin-right: 12px;
}
.navbar * {
	color: white;
	font-family: 'Montserrat', Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
}
.hero_unit {
	width: 100%;
	height: 500px;
	background-image: url('/img/hero_bg.jpg');
	background-position: center;
	background-size: cover;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
}
.hero_unit:after {
	width: 100%;
	height: 500px;
	content: '';
	position: absolute;

	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 80%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */	
}
.hero_unit > h1 {
	font-family: 'Montserrat', Helvetica, sans-serif;
	z-index: 1;
	font-size: 48px;
	color: #2E2E97;
	text-align: center;
	width: 100%;
	margin: 0;
	padding-left: 6vw;
	padding-right: 6vw;
}
.hero_unit > h2 {
	font-family: 'Montserrat', Helvetica, sans-serif;
	z-index: 1;
	font-size: 24px;
	color: #2E2E97;
	text-align: center;
	width: 100%;
	padding-left: 6vw;
	padding-right: 6vw;
}
/*
	#disqus_thread:
		little hack to force it on its own "row"
*/
#disqus_thread {
	flex-basis: 90%;
}