---
layout: jpiedra
title: Home
---

<div class="jumbotron" style="font-family: Montserrat; color: white; text-align: center; height: 430px; background-size: cover; background-position: center; background-image: url('assets/images/banner_c.jpg'); background-repeat: no-repeat; margin-bottom: 0px">
	<div class="container" id="banner_phrase">
	<br>
	<h1>Jonathan Piedra</h1>
	<br>
	</div>
</div>
<nav class="navbar navbar-default" style="text-align: center;">
	{% for tag in site.static_tags %}
		{% if forloop.last %}
		<a href="{{ site.url }}/tags/{{ tag }}/index.html" class="btn btn-link navbar-btn" role="button">{{ tag | capitalize }}</a>
		{% else %}
		<a href="{{ site.url }}/tags/{{ tag }}/index.html" class="btn btn-link navbar-btn" role="button">{{ tag | capitalize }}</a> <b style="color: #de9696">|</b>
		{% endif %}
	{% endfor %}
</nav>
<div class="container-fluid" style="padding-left: 10%; padding-right: 10%">
	</br>
	{% for post in site.posts %}
	    	{% if post.archive == false %}
			<div style="border-bottom: 1px solid #BBB; padding-bottom: 20px">
				<h2><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>: {{ post.date |  date_to_string }}</h2>
				<p>{{post.excerpt | remove: '<p>' | remove: '</p>' }}<a href="{{ post.url | prepend: site.url }}">[more...]</a></p>
				</br>
				<b>Tags: </b>
				{% for tag in post.tags %}
					{% if forloop.last %}
					<a href="{{ site.url }}/tags/{{ tag }}/index.html">{{ tag }}</a>
					{% else %}
					<a href="{{ site.url }}/tags/{{ tag }}/index.html">{{ tag }}, </a>
					{% endif %}
				{% endfor %}
			</div>
	    	{% endif %}
	{% endfor %}
</div>
<script>
	var phrases = [ "frequent coding, infrequent blogging", "now with non-boring &ltpre&gt tags", "#ff5050", "ctrl+r works faster", "a blog about programming", "python, javascript, c/c++", "much ado about None" ];
	$(document).ready(function(){
		$(".container").append("<h2>" + phrases[Math.floor((Math.random() * (phrases.length-1)) + 0)] + "</h2>");
	});
</script>
