html {
   margin: 0;
   padding: 0;
}

body	 { 
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* new */

.banner {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/* border: 2px solid black; */
	height: 287px;
	background: url("https://raw.githubusercontent.com/jpiedra/jpiedra.github.io/master/assets/images/topbanner.jpg") center no-repeat;
	background-color: black;

}

.banner-title {
	position: absolute;
	left: 45%;	
	bottom: 4%;
	
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-shadow: 1px 3px 8px white;
	font-weight: bold; 
    	font-size: 72px;
	color: white; 

}

/* old */

.img-title {
	position: absolute;
	/* left: 45%;	
	top: 20%; */
	
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	text-shadow: 1px 3px 8px white;
	font-weight: bold; 
    	font-size: 72px;
	color: transparent; 

}

.img-splash {
	position: relative;
	/* display: block; */
	margin-left: auto;
	margin-right: auto;

	max-width: 100%;
    	height: auto;
}

.container {
	position: relative;
}

.content {
	
	background: rgb(13, 28, 28);
	margin-left: auto;
	margin-right: auto;
	/* margin-bottom: auto; */
	padding: 50px;
	padding-left: 15%;
	padding-right: 15%;

  	/* margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%; */

	font-family: Verdana, Geneva, sans-serif;
    	/* font-weight: bold; */
	font-size: 16px;
	color: white;
	text-align: left;

	/* background: rgb(13, 28, 28);
	background: rgba(13, 28, 28, 0.85);

	padding: 20px;

  	border: 8px solid rgb(178, 140, 63);
	border-radius: 15px;

	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;

	font-family: Verdana, Geneva, sans-serif;
    	/* font-weight: bold; */
	font-size: 16px;
	color: white;
	text-align: left; */
}

section > p {
	display: block;
	font-family: Verdana, Geneva, sans-serif;
	/* font-weight: bold; */
	font-size: 16px;
	color: white;
}


.page-title {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size:31px;
	font-weight:700;
	padding:0 0 0 15px;
	color: white;
}

.page-title-2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size:21px;
	font-weight:700;
	padding:0 0 0 15px;
	color: white;
}

.page-paragraph{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	font-weight:0;
	padding:0 0 0 15px;
color: white;
}

.page-paragraph a {
	font-family: Verdana, Geneva, sans-serif;
color:#5050ee;
}


@media screen and (max-width:500px) {
	
	.splash {
		font-size: 32px;
	}
	
	.banner-title {
		padding: 0px;
		font-size: 46px;
		left: 0%;
	}

	.content {
		padding: 15px;
	}

}



@media screen and (max-width:450px) {
	
	.splash {
		font-size: 32px;
	}

	.banner-title {
		padding: 0px;
		font-size: 46px;
		left: 0%;

	}

	.content {
		padding: 15px;
	}


}


