.nav-block {
	display: block;
	margin: 0 auto;
	margin-bottom: 0;
	background: #AA8439;
	background: -webkit-linear-gradient(#D7B46E, #AA8439);/* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#D7B46E, #AA8439);/* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#D7B46E, #AA8439);/* For Firefox 3.6 to 15 */
  	background: linear-gradient(#D7B46E, #AA8439);
	height: auto;
	/* border-top: 2px outset #ECC580;
	border-bottom: 2px outset #ECC580; */
}

.centering {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	margin-bottom: 0;
}

nav ul {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 24px;
 	margin: 0;
	padding: 0;
	height: 1em;
}

nav li {
	list-style: none;
	float: left;
	width: 10em;
	background: #AA8439;
	background: -webkit-linear-gradient(#D7B46E, #AA8439);/* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#D7B46E, #AA8439);/* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#D7B46E, #AA8439);/* For Firefox 3.6 to 15 */
  	background: linear-gradient(#D7B46E, #AA8439);

	/* border-left: 2px outset #777;
	border-right: 2px outset #777; */
}

nav li a {
	display: block;
	padding: 3px 8px;
	color: #022C25;
	text-decoration: none;
}


nav li a:hover {
	background: #D7B46E;
	background: -webkit-linear-gradient(#FFE3AA, #D7B46E);/* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#FFE3AA, #D7B46E);/* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#FFE3AA, #D7B46E);/* For Firefox 3.6 to 15 */
  	background: linear-gradient(#FFE3AA, #D7B46E);
	color: #022C25;
	text-decoration: none;
}

nav li li a:hover {
	background: #D7B46E;
	background: -webkit-linear-gradient(#FFE3AA, #D7B46E);/* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#FFE3AA, #D7B46E);/* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#FFE3AA, #D7B46E);/* For Firefox 3.6 to 15 */
  	background: linear-gradient(#FFE3AA, #D7B46E);
	color: #E02339;
	text-decoration: none;
}



nav li ul {
	display: none;
	width: 10em;
	background-color: #ECC580;
}

nav li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
}

nav li:hover li {
	float: none;
	/* border-top: 2px outset #ECC580;
	border-bottom: 2px outset #ECC580; */

	/* background-color: #ff3030; */
	/* margin-top: 1px; */
	/* border: 2px outset #777; */
}

nav: li:hover a {
	color: grey;
	/* background-color : #ff3030; */

}

nav li li a:hover {
	/* background-color : #ff3030; */
}

@media screen and (max-width:360px) {
	
	
	nav ul {
		font-size: 12px;
 	}
	
	
	nav li {
		width: auto;
	}

	
}
