.nav-block {
	display: block;
	margin: 0 auto;
	margin-bottom: 0;
	background: #037554;
	background: -webkit-linear-gradient(#037554, #001731);/* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#037554, #001731);/* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#037554, #001731);/* For Firefox 3.6 to 15 */
  	background: linear-gradient(#037554, #001731);
	height: auto;
	border-top: 2px outset #035454;
	border-bottom: 2px outset #035454;
}

.centering {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	margin-bottom: 0;
}

nav ul {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 20px;
 	margin: 0;
	padding: 0;
	height: 1em;
}

nav li {
	list-style: none;
	float: left;
	width: 10em;
	background: #037554;
	background: -webkit-linear-gradient(#037554, #001731);/* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#037554, #001731);/* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#037554, #001731);/* For Firefox 3.6 to 15 */
  	background: linear-gradient(#037554, #001731);

	/* border-left: 2px outset #777;
	border-right: 2px outset #777; */
}

nav li a {
	display: block;
	padding: 3px 8px;
	color: white;
	text-decoration: none;
}


nav li a:hover {
	background: #0052a6;
	background: -webkit-linear-gradient(#0052a6, #000068);/* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#0052a6, #000068);/* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#0052a6, #000068);/* For Firefox 3.6 to 15 */
  	background: linear-gradient(#0052a6, #000068);
	color: white;
	text-decoration: none;
	text-shadow: 0px 0px 4px white, 0px 0px 8px white;
}

nav li li a:hover {
	background: #0052a6;
	background: -webkit-linear-gradient(#0052a6, #000068);/* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#0052a6, #000068);/* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#0052a6, #000068);/* For Firefox 3.6 to 15 */
  	background: linear-gradient(#0052a6, #000068);
	color: white;
	text-decoration: none;
}



nav li ul {
	display: none;
	width: 10em;
	background-color: #ECC580;
}

nav li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
}

nav li:hover li {
	float: none;
	border-top: 2px outset #035454;
	border-bottom: 2px outset #035454;

	/* background-color: #ff3030; */
	/* margin-top: 1px; */
	/* border: 2px outset #777; */
}

nav: li:hover a {
	color: grey;
	/* background-color : #ff3030; */

}

nav li li a:hover {
	/* background-color : #ff3030; */
}


@media screen and (max-width:970px) {
	
	
	nav ul {
		font-size: 16px;
 	}
	
	
	nav li {
		width: auto;
	}

	
}

@media screen and (max-width:368px) {
	
	
	nav ul {
		font-size: 12px;
 	}
	
	
	nav li {
		width: auto;
	}

	
}
