{% include header.html %}


	<nav class="navbar navbar-default" style="">
		<div class="container-fluid">
			<div class="navbar-header pull-left">
				<a class="navbar-brand" href="/">Jonathan Piedra</a>
			</div>
			<div class="navbar-header pull-right" id="jp-navbar-resp">
				<a href="/" type="button" class="btn btn-link navbar-btn" role="button">Home</a>
				<a href="{{site.url}}/projects.html" class="btn btn-link navbar-btn" role="button">Projects</a>
				<a href="{{site.url}}/contact.html" class="btn btn-link navbar-btn" role="button">Contact</a>
			</div>
		</div>
	</nav>
	
	
			  {{ content }}
	
{% include footer.html %}




