---
layout: jpiedra
---
<div class="container-fluid" style="padding-left: 10%; padding-right: 10%">
	</br>
	<div class="page-header">	
		<h1>{{ page.title }}</h1>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h4>filed under:
			{% for tag in page.tags %} 
				{% if forloop.last %} 
				<a href="{{ site.url }}/tags/{{ tag }}/index.html">{{ tag }}</a>
				{% else %} 
				<a href="{{ site.url }}/tags/{{ tag }}/index.html">{{ tag }},</a>
				{% endif %} 
			{% endfor %}
			</h4> 
		</div>
		<div class="col-md-8" style="text-align: right">
			<h4>posted {{ page.date |  date_to_string }}{% if page.author %} by {{page.author}}{% endif %}<h4>
		</div>	
	</div>	
	{% if page.prev_post || page.next_post %}
	<div class="row">
		{% if page.prev_post %}
		<div class="col-md-6">
			<a href="{{ site.url }}/_posts/{{ page.prev_post }}">Previous Post</a>
		</div>
		{% endif %}
		{% if page.next_post %}
		<div class="col-md-6" style="text-align: right">
			<a href="{{ site.url }}/_posts/{{ page.next_post }}">Next Post</a>
		</div>
		{% endif %}
	</div>
	{% endif %}
	</br>
	<div class="row jp-post-body">
		<div class="col-md-10">
			{{ page.content }}
		</div>
	<!-- add: | remove: '<p>' | remove: '</p>' ... to above statement for mobile quickfix, breaks paragraph spacing-->
	</div>
</div>
